/* Tight Lists Formatter Status Bar Styles */

.space-control-status {
    padding: 0 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.space-control-status-disabled {
    opacity: 0.5;
}

.space-control-status-global {
    color: var(--text-accent);
}

.space-control-status-folder {
    color: var(--text-accent-hover);
}
